:root {
  --primary: gray;
  --secondary: rgb(55, 55, 187);
  --tertiary:  rgb(92, 92, 209);
  --light-dark: rgb(60, 60, 190);
  --dark: rgb(64, 49, 66);
  --border-raduis: 0.3rem;
}

* {
  box-sizing: border-box
}

body {
  background-size: cover;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 690;
  margin: 0;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}

main {
  margin-left: 40px auto;
  width: 94%;
  min-height: 100%;
  overflow: auto;
}

.btn {
  font: 1.3rem;
  padding:  6px 5px;
  width: 100%;
  display: block;
  text-decoration: none;
  border-radius: var(--border-raduis);
  color: var(--primary);
  background-color: var(--light-dark);
  border:none;
  outline:none;
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.btn-inline {
  display: inline;
}

.btn:hover {
  transform: translate(0, 0);
  box-shadow: 1.5px 1.5px var(--dark);
  color: var(--primary);
  background-color: var(--tertiary);
}

.btn-back {
  border: none;
  outline: none;
  display: inline-block;
  width: auto;
  text-decoration: none;
  color: var(--primary);
  background-color: var(--tertiary);
  border-radius: var(--border-raduis);
  box-shadow: 3px 3px var(--secondary);
  transform: translate(-1px, -1px);
  margin-top: 20px;
  padding: 15px;
  font-size: 1.2rem;
}

.btn-back:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  box-shadow: 2px 2px var(--dark);
  transform:  (0,0);
}

.dashboard-title {
  color: var(--dark);
  background-color: var(--primary);
  font-size: 3rem;
  padding: 0 10px;
  display: inline-block;
  box-shadow: 6px 5px var(--light-dark);
  border-radius: var(--border-raduis);
}

.list-group {
  padding: 1.5%;
  color: white;
  margin-bottom: 10px;
  background-color: var(--light-dark);
  border-radius: var(--border-raduis);
  text-decoration: none;
}

.list-group:hover {
  background-color: blueviolet;
}

.icon{
  height: 10%;
  width: 10%;
}

.card {
  margin: 0 0 20px 0;
  border: 3px dotted var(--dark);
  border-radius: var(--border-raduis);
}

.card-header {
  padding: 1.5%;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 250px;
  line-height: 1.8;
  color: var(--primary);
  background-color: var(--light-dark);
  border-radius: var(--border-radius);
  text-decoration: none;
}

.five-day {
  display: flex;
}

.subtitle {
  display: none;
}